
.lose {
	color: red;
}
.win {
	color: green;
}

tr.lose a {
    color: red;
}

tr.win a {
    color: green;
}

.lists > thead > tr > th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: linear-gradient(to bottom, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}


table.rating-movements
{
    border: solid #000000;
    background-color: #ffffff;
    border-collapse: collapse;
}
th
{
    text-align: center;
    font-weight: bold;
    padding: 2px;
    border: solid #000000;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: #dce9f9;
}
td
{
    border: solid #000000;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: 2px;
    text-align: center;
}
.note
{
    text-align: left;
}
.date
{
	white-space: nowrap;
}
.rating-player
{
    margin-top: 50px;
}

table#ranking-lists td:first-child+td {
  text-align: left;
}

.rankdown {
    color: red;
}

.rankdown:after {
    content: " ▼";
}

.rankup {
    color: green;
}

.rankup:after {
    content: " ▲";
}
